.category-icon {
	font-size: 20px;
	font-weight: 300;
	line-height: 20px;
	padding: 20px 50px;
	border: none;
	background: #3eb0f7;
	transition: all 0.4s;
	color: white;
	border-radius: 4px;
}

.category-icon:hover {
  cursor: pointer;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.category-icon:visited {
  cursor: default;
	border: none;
	background: #3eb0f7;
	color: white;
}
.fa {
  margin-bottom: 10px;
}
.row {
  margin-bottom: 30px;
}
